.shopcategory-banner{
    display: block;
    margin: 30px auto;
    width: 82%;
}
.shopcategory-indexSort{
    display: flex;
    margin: 0px 170px;
    justify-content: space-between;
    align-items: center;
}
.shopcategory-sort{
    padding: 10px 20px;
    border-radius: 40px;
    border: 1px solid #888;
}
.shopcategory-indexSort p span{
    font-weight: 600;
}
.shopcategory-products{
    margin: 20px 170px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 80px;
}
.shopcategory-loadmore{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 150px auto;
    width: 233px;
    height: 69px;
    border-radius: 75px;
    background: #ededed;
    color: #787878;
    font-size: 18px;
    font-weight: 500;
}

/* Container chính */
.product-sort-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #ffffff;
    margin-right: 20px;
}

/* Select sắp xếp */
.product-sort-container select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1em;
    color: #333;
    background-color: #ffffff;
    transition: border-color 0.3s ease;
    margin-bottom: 20px;
}

.product-sort-container select:focus {
    outline: none;
    border-color: #007bff;
}





@media(max-width:1280px){
    .shopcategory-banner{
        margin: 20px auto;
        width: 90%;
    }
    .shopcategory-indexSort{
        width: 90%;
        margin: auto;
    }
    .shopcategory-sort{
        padding: 5px 10px;
        font-size: 12px;
    }
    .shopcategory-indexSort p{
        font-family: 12px;
    }
    .shopcategory-products{
        width: 90%;
        margin: 10px auto;
        row-gap: 40px;
    }
    .shopcategory-products .item{
        margin: auto;
    }
    .shopcategory-loadmore{
        margin: 100px auto;
        width: 200px;
        height: 60px;
        font-size: 16px;
    }
    .product-sort-container {
        max-width: 800px;
        padding: 30px;
    }
    .product-sort-container select {
        padding: 12px;
        font-size: 1.1em;
    }
}
@media(max-width:800px){
    .shopcategory-banner{
        width: 95%;
    }
    .shopcategory-products{
        width: 95%;
    }
    .shopcategory-loadmore{
        margin: 60px auto;
        width: 150px;
        height: 40px;
        font-size: 13px;
    }
    .product-sort-container {
        max-width: 100%;
        padding: 20px;
    }
    .product-sort-container select {
        padding: 10px;
        font-size: 1em;
    }
}
@media(max-width:500px){
    .shopcategory-products{
        grid-template-columns: 1fr 1fr;
    }
    .product-sort-container {
        max-width: 50%;
        padding: 15px;
    }
    .product-sort-container select {
        padding: 8px;
        font-size: 0.9em;
    }
}